* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background: linear-gradient(135deg, #000000, #001f3f, #003366, #000814);
  background-attachment: fixed;
  color: white;
     min-height:100vh;
}

a {
    text-decoration: none;
}

.info-lista {
    font-size: 22px;
  font-weight: bold;
  color: #e5e7eb;
  margin-top: 15px;
  margin-bottom: 10px;
    margin-left: 20px;
}

.info-lista::after{
  content: "";
  display: block;
  width: 220px;
  height: 3px;
  background: #2563eb;
  margin-top: 5px;
  border-radius: 5px;
}

.cards-lista {
    display: flex;
    min-width: 300px;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.card-lista {
    min-width: 300px;
    padding: 10px;
    background:linear-gradient(180deg,#0b1d3a,#020617);
    color: white;
    border-radius: 15px;
    text-align: center;
    border:1px solid rgba(37,99,235,0.3);
    transition: 0.3s;
}

.card-lista:hover {
    transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.card-lista:hover {
    transform: translatey(-5px);
}

.card-lista h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-lista p {
    color: gold;
    font-family: arial, sans-serif;
}

.card-button {
    margin-top: 10px;
    margin-bottom: 8px;
    border: none;
    border-radius: 10px;
    padding: 12px 35px;
    background: linear-gradient(90deg, #1e3a8a, #2563eb);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.card-button:hover {
    filter: brightness(1.15);
  transform: scale(1.04);
}

.card-img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: contain;
    padding: 5px;
    margin-top: 5px;
}
